server {
    listen 80;
    server_name _;

    access_log /var/log/nginx/access.log {{ log_format_name }};
    error_log /var/log/nginx/error.log warn;

    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript image/svg+xml;
    gzip_min_length 1000;

    location {{ images_url_path }} {
        alias {{ static_path }}/;
        autoindex on;
        expires {{ cache_max_age }}s;
        add_header Cache-Control "public, max-age={{ cache_max_age }}";
    }

    # fallback
    location / {
        return 200 'OK';
    }
}